.ctrl {
    background-color: aliceblue;
    padding: 7px;
    width: 300px;
    border-bottom: 2px solid rgb(175, 175, 175);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}

.btn {
    margin-left: 80px
}

.ck {
    margin-left: 20px;
}