.App {
    height: 100vh;
    background-image: url('./Images/mainbg.jpg');
    background-size: cover;
}

.main-form {
    width: 400px;
    margin-left: 110px;
    background-color: aliceblue;
}

.ca {
    padding-top: 100px;
}